h1{
    display: flex;
    justify-content: center;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#Login-box{
    background-color: blue;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50vh;
    border: 1px solid black;
    border-radius:7px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    flex-basis: 50%;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
 
}
